<!-- MIT License -->
<!-- Author: Nick Van Osta -->

<template functional>
  <v-app-bar
    app
    dark
    clipped-left
    :color="props.state.color"
    :src="props.state.img"
    @input="props.actions.toggleTheme"
  >
    <template v-if="props.state.img" #img="{ props }">
      <v-img
        id="app-bar-background"
        v-bind="props"
        :gradient="`to top right, ${_vm.props.state.gradientString.from}, ${_vm.props.state.gradientString.to}`"
      ></v-img>
    </template>

    <v-btn
      v-if="!props.state.mobile"
      class="no-active mx-2"
      icon
      :to="props.state.home"
      :ripple="false"
    >
      <v-icon size="2em">$logo</v-icon>
    </v-btn>

    <v-toolbar-title
      id="app-bar-title"
      :class="!props.state.mobile ? 'ml-2' : ''"
    >
      {{ props.state.title }}
    </v-toolbar-title>

    <v-spacer />

    <v-btn id="theme-toggle" icon @click.stop="props.actions.toggleTheme">
      <v-icon>$theme</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<style scoped lang="scss">
.v-btn--active.no-active::before {
  display: none;
}
</style>
