<!-- MIT License -->
<!-- Author: Nick Van Osta -->

<template functional>
  <v-footer app dark fixed padless>
    <v-card class="flex" :color="props.state.color" flat tile>
      <v-card-text class="py-2 white--text text-center">
        <v-btn
          v-for="(link, index) in props.state.links"
          :key="index"
          :href="link.to"
          target="_blank"
          class="mx-4"
          icon
          small
        >
          <v-icon>{{ link.icon }}</v-icon>
        </v-btn>

        <v-spacer />

        &copy; {{ new Date().getFullYear() }} — <strong>Nick Van Osta</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>
