<!-- MIT License -->
<!-- Author: Nick Van Osta -->

<template functional>
  <v-bottom-navigation app :color="props.state.color" shift>
    <v-btn
      v-for="(link, index) in props.state.links"
      :key="index"
      :to="link.to"
    >
      <span>{{ link.title }}</span>
      <v-icon>{{ link.icon }}</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>
