<!-- MIT License -->
<!-- Author: Nick Van Osta -->

<template functional>
  <v-container fluid>
    <v-row>
      <v-col
        v-for="value in props.state.data"
        :key="value.id"
        cols="12"
        sm="6"
        md="4"
        lg="3"
        xl="2"
      >
        <slot :value="value" />
      </v-col>

      <slot name="add" />
      <slot name="delete" />
    </v-row>
  </v-container>
</template>
