<!-- MIT License -->
<!-- Author: Nick Van Osta -->

<template functional>
  <v-card
    :to="
      props.state.to && {
        name: props.state.to,
        params: { id: props.state.cardId }
      }
    "
    @mouseenter="props.actions.mouseEnter"
    @mouseleave="props.actions.mouseLeave"
  >
    <v-img
      :src="!!props.state.img ? props.state.img : props.state.defaultImg"
      :gradient="`to top right, ${props.state.gradientString.from}, ${props.state.gradientString.to}`"
      :aspect-ratio="props.state.aspectRatio"
    >
      <v-btn
        v-show="props.state.mobile || props.state.hover"
        id="delete"
        class="float-right my-1 mr-1"
        color="error"
        dark
        icon
        @click.prevent="props.actions.delete"
      >
        <v-icon>$delete</v-icon>
      </v-btn>

      <v-btn
        v-show="props.state.mobile || props.state.hover"
        id="edit"
        class="float-right my-1"
        dark
        icon
        @click.prevent="props.actions.edit"
      >
        <v-icon>$edit</v-icon>
      </v-btn>
    </v-img>
    <v-card-title>{{ props.state.title }}</v-card-title>
  </v-card>
</template>
