<!-- MIT License -->
<!-- Author: Nick Van Osta -->

<template functional>
  <v-dialog
    :value="props.state.value"
    :fullscreen="props.state.mobile"
    :transition="
      props.state.mobile ? 'dialog-bottom-transition' : 'dialog-transition'
    "
    persistent
    max-width="400px"
    @input="props.actions.input"
  >
    <v-card>
      <v-toolbar dark :color="props.state.color">
        <v-btn id="delete-close" icon dark @click="props.actions.cancel">
          <v-icon>$close</v-icon>
        </v-btn>

        <v-toolbar-title>{{
          parent.$t('items-delete-title', { item: props.state.data.title })
        }}</v-toolbar-title>

        <v-spacer />

        <v-toolbar-items>
          <v-btn
            v-if="props.state.mobile"
            id="delete-confirm"
            text
            :disabled="!props.state.valid"
            @click.stop="props.actions.confirm"
          >
            {{ parent.$t('form-confirm') }}
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <v-card-text>
        <p class="text-body-1 mt-2">
          {{ parent.$t('items-delete-confirm') }}
          <br />
          <strong>{{ props.state.data.title }}</strong>
        </p>

        <v-text-field
          id="delete-input-title"
          autofocus
          :placeholder="props.state.data.title"
          solo
          :value="props.state.text"
          @input="props.actions.setText"
          @keypress.enter="props.actions.confirm"
        />
      </v-card-text>

      <v-card-actions v-if="!props.state.mobile">
        <v-spacer />

        <v-btn
          id="delete-cancel"
          text
          :color="props.state.color"
          @click.stop="props.actions.cancel"
        >
          {{ parent.$t('form-cancel') }}
        </v-btn>

        <v-btn
          id="delete-confirm"
          :disabled="!props.state.valid"
          :color="props.state.errorColor"
          @click.stop="props.actions.confirm"
        >
          {{ parent.$t('form-confirm') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
