<!-- MIT License -->
<!-- Author: Nick Van Osta, Xander Veldeman -->

<template functional>
  <v-container class="fill-height">
    <v-row
      class="fill-height"
      align="stretch"
      align-content="start"
      justify="center"
    >
      <!-- CHARACTER DESCRIPTION -->
      <v-col
        :class="!parent.$vuetify.breakpoint.mobile ? 'fill-height' : ''"
        cols="12"
        lg="9"
        order="1"
      >
        <v-card class="fill-height">
          <v-card-title>{{ parent.$t('description') }}</v-card-title>
          <v-card-text class="subtitle-1">
            {{ props.state.character.description }}
          </v-card-text>
        </v-card>
      </v-col>

      <!-- CHARACTER STATS -->
      <v-col
        :class="!parent.$vuetify.breakpoint.mobile ? 'fill-height' : ''"
        cols="12"
        lg="3"
        :order="!parent.$vuetify.breakpoint.mobile ? '2' : 'first'"
      >
        <v-card
          :class="!parent.$vuetify.breakpoint.mobile ? 'fill-height' : ''"
        >
          <v-img height="auto" :src="props.state.character.thumbnail"></v-img>
          <v-card-text class="subtitle-1">
            <p>
              <b>{{ parent.$t('name') }}:</b> {{ props.state.character.name }}
            </p>
            <p>
              <b>{{ parent.$t('race') }}:</b> {{ props.state.character.race }}
            </p>
            <p>
              <b>{{ parent.$t('gender') }}:</b>
              {{ props.state.character.gender }}
            </p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
