<!-- MIT License -->
<!-- Author: Nick Van Osta -->

<template functional>
  <v-speed-dial
    fixed
    bottom
    right
    direction="top"
    :value="props.state.open"
    @input="props.actions.toggle"
  >
    <template #activator>
      <v-btn
        fab
        :color="props.state.color"
        :value="props.state.open"
        @input="props.actions.toggle"
      >
        <v-icon v-if="props.state.open"> $close </v-icon>
        <v-icon v-else> $add </v-icon>
      </v-btn>
    </template>

    <v-tooltip v-for="item in props.state.items" :key="item.title" left>
      <template #activator="{ on, attrs }">
        <v-btn
          :color="item.color"
          fab
          small
          v-bind="attrs"
          @click="item.action"
          v-on="on"
        >
          <v-icon>
            {{ item.icon }}
          </v-icon>
        </v-btn>
      </template>
      <span>{{ item.title }}</span>
    </v-tooltip>
  </v-speed-dial>
</template>
