<!-- MIT License -->
<!-- Author: Nick Van Osta -->

<template functional>
  <v-dialog
    id="world-dialog"
    :value="props.state.value"
    :fullscreen="props.state.mobile"
    :transition="
      props.state.mobile ? 'dialog-bottom-transition' : 'dialog-transition'
    "
    persistent
    scrollable
    max-width="600px"
    @input="props.actions.input"
  >
    <v-card>
      <v-toolbar class="flex-grow-0" dark :color="props.state.color">
        <v-btn id="world-dialog-close" icon dark @click="props.actions.cancel">
          <v-icon>$close</v-icon>
        </v-btn>

        <v-toolbar-title>{{ parent.$t(props.state.title) }}</v-toolbar-title>

        <v-spacer />

        <v-toolbar-items>
          <v-btn
            v-if="props.state.mobile"
            id="world-dialog-confirm"
            text
            @click.stop="props.actions.save"
          >
            {{ parent.$t('form-save') }}
          </v-btn>
        </v-toolbar-items>

        <template #extension>
          <v-tabs
            align-with-title
            centered
            :value="props.state.tab"
            @change="props.actions.setTab"
          >
            <v-tab id="world-info-tab" href="#world-info-item">
              {{ parent.$t('world-info-tab') }}
            </v-tab>
            <v-tab id="world-theme-tab" href="#world-theme-item">
              {{ parent.$t('world-theme-tab') }}
            </v-tab>
            <v-tab id="world-preview-tab" href="#world-preview-item">
              {{ parent.$t('world-preview-tab') }}
            </v-tab>
          </v-tabs>
        </template>
      </v-toolbar>

      <v-card-text style="height: 400px"
        ><v-form
          class="fill-height"
          :value="props.state.valid"
          onsubmit="return false;"
          @input="props.actions.validate"
          @submit="props.actions.save"
        >
          <v-container fill-height fluid>
            <v-tabs-items
              style="background-color: rgba(255, 255, 255, 0)"
              class="flex-grow-1 align-self-stretch"
              :value="props.state.tab"
              @change="props.actions.setTab"
            >
              <v-tab-item value="world-info-item">
                <v-row>
                  <!-- World Name -->
                  <v-col cols="12" sm="6">
                    <v-text-field
                      id="world-dialog-name"
                      :label="parent.$t('world-name')"
                      :rules="props.state.nameRules"
                      required
                      :value="props.state.world.name"
                      @input="props.actions.setName"
                    />
                  </v-col>

                  <!-- World Thumbnail -->
                  <v-col cols="12" sm="6">
                    <v-file-input
                      id="world-dialog-img"
                      :label="parent.$t('world-image')"
                      accept="image/*"
                      show-size
                      @change="props.actions.setThumbnail"
                    />
                  </v-col>

                  <!-- World Description -->
                  <v-col cols="12">
                    <v-textarea
                      id="world-dialog-description"
                      auto-grow
                      :label="parent.$t('world-description')"
                      :value="props.state.world.description"
                      @input="props.actions.setDescription"
                    />
                  </v-col>
                </v-row>
              </v-tab-item>

              <v-tab-item value="world-theme-item">
                <v-row>
                  <!-- World Custom Theme -->
                  <v-col cols="12" sm="6">
                    <v-row>
                      <v-col id="world-dialog-theme" cols="12">
                        <v-switch
                          dense
                          :label="
                            parent.$t(`theme-${props.state.selectedThemeMode}`)
                          "
                          :input-value="props.state.currentMode"
                          @change="props.actions.setThemeMode"
                        />
                      </v-col>
                      <v-col
                        v-for="(c, i) in props.state.themeColors"
                        :key="c"
                        cols="12"
                      >
                        <v-btn
                          :id="`world-dialog-theme-${c}`"
                          block
                          :color="props.actions.getColor(c)"
                          :dark="
                            props.actions.isDark(props.actions.getColor(c))
                          "
                          @click="props.actions.setCurrentColor(i)"
                        >
                          {{ parent.$t(`theme-${c}`) }}
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-col>

                  <v-col cols="12" sm="6">
                    <v-color-picker
                      id="world-dialog-color-picker"
                      :value="props.state.selectedColor"
                      @input="props.actions.setColor"
                    />
                  </v-col>
                </v-row>
              </v-tab-item>

              <v-tab-item value="world-preview-item" fill-height>
                <v-row align="stretch">
                  <!-- Preview -->
                  <v-col id="world-dialog-theme" cols="12">
                    <v-switch
                      dense
                      :label="
                        parent.$t(`theme-${props.state.selectedThemeMode}`)
                      "
                      :input-value="props.state.currentMode"
                      @change="props.actions.setThemeMode"
                    />
                  </v-col>

                  <v-col cols="12">
                    <v-card
                      id="world-dialog-preview"
                      elevation="6"
                      width="100%"
                      height="100%"
                      :dark="!!props.state.currentMode"
                    >
                      <v-toolbar
                        :color="props.actions.getColor('primary')"
                        :src="props.state.preview.thumbnail"
                        :dark="
                          props.actions.isDark(
                            props.actions.getColor('primary')
                          )
                        "
                      >
                        <template
                          v-if="props.state.preview.thumbnail"
                          #img="{ props }"
                        >
                          <v-img
                            v-bind="props"
                            :gradient="`to top right, ${_vm.props.state.gradientString.from}, ${_vm.props.state.gradientString.to}`"
                          />
                        </template>

                        <v-toolbar-title>
                          {{ props.state.preview.name }}
                        </v-toolbar-title>
                      </v-toolbar>

                      <v-card-text
                        :style="{
                          backgroundColor: props.actions.getColor('background')
                        }"
                      >
                        {{ props.state.preview.description }}
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </v-tab-item>
            </v-tabs-items>
          </v-container>
        </v-form>
      </v-card-text>

      <v-divider v-if="!props.state.mobile" />

      <v-card-actions v-if="!props.state.mobile" class="elevation-6">
        <v-spacer />

        <v-btn
          id="world-dialog-cancel"
          text
          :color="props.state.color"
          @click.stop="props.actions.cancel"
        >
          {{ parent.$t('form-cancel') }}
        </v-btn>
        <v-btn
          id="world-dialog-confirm"
          dark
          :color="props.state.color"
          @click.stop="props.actions.save"
        >
          {{ parent.$t('form-save') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
