<!-- MIT License -->
<!-- Author: Xander Veldeman -->

<template>
  <div>
    <router-view />

    <p-card-list
      id="character-list"
      v-slot="{ state, actions }"
      :data="characterList"
    >
      <c-card-list v-bind="{ state, actions }">
        <template #default="{ value }">
          <p-card-list-item
            :id="`character-${value.id}`"
            v-slot="{ state: itemState, actions: itemActions }"
            :card-id="value.id"
            :default-img="defaultImg"
            :img="value.img"
            :title="value.title"
            :gradient="cardGradient"
            :aspect-ratio="9 / 12"
            :to="characterDetails"
          >
            <c-card-list-item
              v-bind="{ state: itemState, actions: itemActions }"
            />
          </p-card-list-item>
        </template>
      </c-card-list>
    </p-card-list>
  </div>
</template>

<script>
// Providers
import PCardList from '@p/CardList';
import PCardListItem from '@p/CardListItem';

// Consumers
import CCardList from '@c/CardList';
import CCardListItem from '@c/CardListItem';

// Util
import Gradient from '@u/gradient';
import CardItem from '@u/card-item';

// Vuex
import { SET_TITLE } from '@xm/appbar';
import { mapState, mapActions } from 'vuex';
import { APPBAR_MODULE } from '@xm/appbar';
import charactersModule, { CHARACTERS_MODULE } from '@xm/characters';

import defaultImg from '@/assets/worlds/default.png';
import { CHARACTER_DETAILS } from '@r/';

export default {
  name: 'CharacterList',

  components: {
    PCardList,
    PCardListItem,
    CCardList,
    CCardListItem
  },

  data() {
    return {
      characterDetails: CHARACTER_DETAILS,

      defaultImg
    };
  },

  computed: {
    ...mapState({
      characters: (state) => (state.characters ? state.characters.list : null)
    }),

    characterItems() {
      const list = {};
      Object.keys(this.characters).forEach((id) => {
        list[id] = CardItem.toCardItem(this.characters[id]);
      });
      return list;
    },

    characterList() {
      const items = Object.values(this.characterItems);
      return items;
    },

    cardGradient() {
      return new Gradient(
        {
          from: this.$vuetify.theme.currentTheme.primary,
          to: this.$vuetify.theme.currentTheme.accent
        },
        {
          from: 0.25,
          to: 0.5
        }
      );
    }
  },

  beforeCreate() {
    this.$store.hasModule(CHARACTERS_MODULE) ||
      this.$store.registerModule(CHARACTERS_MODULE, charactersModule);
  },

  created() {
    // Set title state in appbar
    this[SET_TITLE](this.$t('characters-title'));
  },

  mounted() {
    this.$store.hasModule(CHARACTERS_MODULE) ||
      this.$store.registerModule(CHARACTERS_MODULE, charactersModule);
  },

  methods: {
    // Commit state change
    ...mapActions(APPBAR_MODULE, [SET_TITLE])
  }
};
</script>
