<!-- MIT License -->
<!-- Author: Nick Van Osta, Xander Veldeman -->

<template>
  <div class="fill-height">
    <p-character-details v-slot="{ state, actions }" :character="character">
      <c-character-details v-bind="{ state, actions }" />
    </p-character-details>
  </div>
</template>

<script>
// Providers
import PCharacterDetails from '@p/CharacterDetails';

// Consumers
import CCharacterDetails from '@c/CharacterDetails';

// Mixins
import theme from '@mx/theme';

import { mapGetters, mapActions } from 'vuex';

import {
  APPBAR_MODULE,
  SET_TITLE,
  SET_IMG,
  RESET_TITLE,
  RESET_IMG
} from '@xm/appbar';

import charactersModule, {
  CHARACTERS_MODULE,
  GET_CHARACTER
} from '@xm/characters';

export default {
  name: 'CharacterDetails',

  components: {
    PCharacterDetails,

    CCharacterDetails
  },

  mixins: [theme],

  props: {
    id: {
      type: Number,
      required: true
    }
  },

  computed: {
    ...mapGetters(CHARACTERS_MODULE, [GET_CHARACTER]),

    character() {
      return this[GET_CHARACTER](this.id);
    }
  },

  beforeCreate() {
    this.$store.hasModule(CHARACTERS_MODULE) ||
      this.$store.registerModule(CHARACTERS_MODULE, charactersModule);
  },

  created() {
    this[SET_TITLE](this.character.name);
    this[SET_IMG](this.character.thumbnail);

    this.setTheme(this.character.theme);
  },

  mounted() {
    this.$store.hasModule(CHARACTERS_MODULE) ||
      this.$store.registerModule(CHARACTERS_MODULE, charactersModule);
  },

  beforeDestroy() {
    this[RESET_TITLE]();
    this[RESET_IMG]();

    this.resetTheme();

    this.$store.unregisterModule(CHARACTERS_MODULE);
  },

  methods: {
    ...mapActions(APPBAR_MODULE, [SET_TITLE, SET_IMG, RESET_TITLE, RESET_IMG])
  }
};
</script>
