<!-- MIT License -->
<!-- Author: Nick Van Osta -->

<template>
  <p-world-dialog
    v-slot="{ state, actions }"
    v-model="dialog"
    :color="$vuetify.theme.currentTheme.primary"
    :mobile="$vuetify.breakpoint.mobile"
    title="worlds-new"
    @cancel="cancel"
    @save="save"
  >
    <c-world-dialog v-bind="{ state, actions }" />
  </p-world-dialog>
</template>

<script>
// Providers
import PWorldDialog from '@p/WorldDialog';

// Consumers
import CWorldDialog from '@c/WorldDialog';

// Vuex
import { WORLDS_MODULE, ADD_WORLD } from '@xm/worlds';
import { mapActions } from 'vuex';

const DIALOG_DELAY = 250;

export default {
  name: 'WorldNew',

  components: {
    PWorldDialog,

    CWorldDialog
  },

  data() {
    return {
      dialog: true
    };
  },

  watch: {
    dialog(open) {
      setTimeout(
        () => open || this.$router.push({ name: 'worlds' }),
        DIALOG_DELAY
      );
    }
  },

  methods: {
    ...mapActions(WORLDS_MODULE, [ADD_WORLD]),

    cancel() {
      this.dialog = false;
    },

    save(world) {
      this[ADD_WORLD](world);

      this.dialog = false;
    }
  }
};
</script>
