<!-- MIT License -->
<!-- Author: Nick Van Osta -->

<template>
  <p-world-dialog
    v-slot="{ state, actions }"
    v-model="dialog"
    :world="world"
    :color="$vuetify.theme.currentTheme.primary"
    :mobile="$vuetify.breakpoint.mobile"
    title="worlds-edit"
    @cancel="cancel"
    @save="save"
  >
    <c-world-dialog v-bind="{ state, actions }" />
  </p-world-dialog>
</template>

<script>
// Providers
import PWorldDialog from '@p/WorldDialog';

// Consumers
import CWorldDialog from '@c/WorldDialog';

// Vuex
import { WORLDS_MODULE, SET_WORLD, GET_WORLD } from '@xm/worlds';
import { mapActions, mapGetters } from 'vuex';

const DIALOG_DELAY = 250;

export default {
  name: 'WorldEdit',

  components: {
    PWorldDialog,

    CWorldDialog
  },

  props: {
    id: {
      type: Number,
      required: true
    }
  },

  data() {
    return {
      dialog: true
    };
  },

  computed: {
    ...mapGetters(WORLDS_MODULE, [GET_WORLD]),

    world() {
      return this[GET_WORLD] ? this[GET_WORLD](this.id) : null;
    }
  },

  watch: {
    dialog(open) {
      setTimeout(
        () => open || this.$router.push({ name: 'worlds' }),
        DIALOG_DELAY
      );
    }
  },

  methods: {
    ...mapActions(WORLDS_MODULE, [SET_WORLD]),

    cancel() {
      this.dialog = false;
    },

    save(world) {
      this[SET_WORLD](world);

      this.dialog = false;
    }
  }
};
</script>
