<!-- MIT License -->
<!-- Author: Nick Van Osta -->

<template>
  <div class="fill-height">
    <p-world-details v-slot="{ state, actions }" :world="world">
      <c-world-details v-bind="{ state, actions }" />
    </p-world-details>

    <p-fab
      v-slot="{ state, actions }"
      :color="$vuetify.theme.currentTheme.accent"
      :items="fabItems"
    >
      <c-fab v-bind="{ state, actions }" />
    </p-fab>
  </div>
</template>

<script>
// Providers
import PWorldDetails from '@p/WorldDetails';
import PFab from '@p/Fab';

// Consumers
import CWorldDetails from '@c/WorldDetails';
import CFab from '@c/Fab';

// Mixins
import theme from '@mx/theme';

import { mapGetters, mapActions } from 'vuex';

import {
  APPBAR_MODULE,
  SET_TITLE,
  SET_IMG,
  RESET_TITLE,
  RESET_IMG
} from '@xm/appbar';

import worldsModule, { WORLDS_MODULE, GET_WORLD } from '@xm/worlds';

import FabItem from '@u/fab-item';

export default {
  name: 'WorldDetails',

  components: {
    PWorldDetails,
    PFab,

    CWorldDetails,
    CFab
  },

  mixins: [theme],

  props: {
    id: {
      type: Number,
      required: true
    }
  },

  computed: {
    ...mapGetters(WORLDS_MODULE, [GET_WORLD]),

    world() {
      return this[GET_WORLD](this.id);
    },

    fabItems() {
      return [
        new FabItem(
          this.$t('new-article'),
          '$article',
          () => console.log('hello'),
          this.$vuetify.theme.currentTheme.accent
        ),

        new FabItem(
          this.$t('new-map'),
          '$map',
          () => console.log('hello'),
          this.$vuetify.theme.currentTheme.accent
        ),

        new FabItem(
          this.$t('new-calendar'),
          '$calendar',
          () => console.log('hello'),
          this.$vuetify.theme.currentTheme.accent
        ),

        new FabItem(
          this.$t('new-timeline'),
          '$timeline',
          () => console.log('hello'),
          this.$vuetify.theme.currentTheme.accent
        )
      ];
    }
  },

  beforeCreate() {
    this.$store.hasModule(WORLDS_MODULE) ||
      this.$store.registerModule(WORLDS_MODULE, worldsModule);
  },

  created() {
    this[SET_TITLE](this.world.name);
    this[SET_IMG](this.world.thumbnail);

    this.setTheme(this.world.theme);
  },

  mounted() {
    this.$store.hasModule(WORLDS_MODULE) ||
      this.$store.registerModule(WORLDS_MODULE, worldsModule);
  },

  beforeDestroy() {
    this[RESET_TITLE]();
    this[RESET_IMG]();

    this.resetTheme();

    this.$store.unregisterModule(WORLDS_MODULE);
  },

  methods: {
    ...mapActions(APPBAR_MODULE, [SET_TITLE, SET_IMG, RESET_TITLE, RESET_IMG])
  }
};
</script>
