<!-- MIT License -->
<!-- Author: Nick Van Osta -->

<template>
  <v-app :style="{ background: this.$vuetify.theme.currentTheme.background }">
    <p-app-bar
      id="app-bar"
      v-slot="{ state, actions }"
      :title="appbar.title"
      :img="appbar.img"
      :mobile="$vuetify.breakpoint.mobile"
      :color="$vuetify.theme.currentTheme.primary"
      :gradient="appbarGradient"
      @theme="$vuetify.theme.dark = !$vuetify.theme.dark"
    >
      <c-app-bar v-bind="{ state, actions }" />
    </p-app-bar>

    <p-nav-drawer
      v-if="!$vuetify.breakpoint.mobile"
      id="nav-drawer"
      v-slot="{ state, actions }"
      :links="nav.main"
      :color="$vuetify.theme.currentTheme.secondary"
    >
      <c-nav-drawer v-bind="{ state, actions }" />
    </p-nav-drawer>

    <component
      :is="bottomProvider"
      :id="bottomId"
      v-slot="{ state, actions }"
      :links="$vuetify.breakpoint.mobile ? nav.main : socials"
      :color="bottomColor"
    >
      <component :is="bottomConsumer" v-bind="{ state, actions }" />
    </component>

    <v-main id="main">
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
// Providers
import PAppBar from '@p/AppBar';
import PNavDrawer from '@p/AppNavDrawer';
import PNavBottom from '@p/AppNavBottom';
import PFooter from '@p/AppFooter';

// Consumers
import CAppBar from '@c/AppBar';
import CNavDrawer from '@c/AppNavDrawer';
import CNavBottom from '@c/AppNavBottom';
import CFooter from '@c/AppFooter';

import Gradient from '@u/gradient';

import { mapState } from 'vuex';

export default {
  name: 'App',

  components: {
    PAppBar,
    PNavDrawer,

    CAppBar,
    CNavDrawer
  },

  computed: {
    bottomProvider() {
      return this.$vuetify.breakpoint.mobile ? PNavBottom : PFooter;
    },
    bottomConsumer() {
      return this.$vuetify.breakpoint.mobile ? CNavBottom : CFooter;
    },
    bottomColor() {
      return this.$vuetify.breakpoint.mobile
        ? this.$vuetify.theme.currentTheme.accent
        : this.$vuetify.theme.currentTheme.secondary;
    },
    bottomId() {
      return this.$vuetify.breakpoint.mobile ? 'nav-bottom' : 'footer';
    },

    appbarGradient() {
      return (
        this.appbar.gradient ||
        new Gradient(
          {
            from: this.$vuetify.theme.currentTheme.primary,
            to: this.$vuetify.theme.currentTheme.accent
          },
          {
            from: 0.5,
            to: 0.8
          }
        )
      );
    },

    ...mapState({
      appbar: (state) => state.appbar,
      nav: (state) => state.nav,
      socials: (state) => state.footer.links
    })
  }
};
</script>
